html,body,div,span,
h1,h2,h3,h4,h5,h6,
p,blockquote,q,em,img,small,strong,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0;outline:0;margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
:focus{outline:0}
input,textarea{margin:0;outline:0;}
textarea{overflow:auto; resize:none;}
table{border-collapse:collapse;border-spacing:0}
/* End Reset */

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

$link-color: #CE4DD6;
$theme-color: #000;
$gray-color: #ccc;
$heading-size: 24px;
$navbar-width: 650px;
$item: 5;
$navbar-color: #ce4dd6;









@mixin rounded($radius:10px){	
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}
@mixin shadow-mixin($shadow:0 0 5px #ccc){
	-moz-box-shadow:$shadow;
	-webkit-box-shadow:$shadow;
	box-shadow:$shadow;
}
@mixin box( $box-heading-tag, $heading, $text){
	#{$box-heading-tag}{
		font-size: $heading;
	}
	p{
		font-size: $text;
	}
}
.themebox{
	@include box ( h2, $heading-size, 14px);
}
#footer{
	@include rounded(0 0 0 10px);
	@include shadow-mixin;
	background:#ccc;
}


/* Default Font Styles
______________________*/
body, input, select, textarea{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:$theme-color;
	line-height:130%;
}

/* Headings
______________________*/
h1{
	font-size:32px;
	line-height:1.2;
	margin:0 0 15px;
}
h2{
	font-size:26px;
	line-height:1.2;
	margin:0 0 10px;
}
/* Links
______________________*/
a{ color:$link-color; text-decoration:underline; }
a:hover { text-decoration:none; }

/* p, blockquote, address
______________________*/
p{
	line-height:1.3;
	padding:0 0 15px;
}

/* Layout 
______________________*/
.content-width{
	width:960px;
	margin:0 auto;
}

/* Header
______________________*/
#header{
	padding:15px;
	border-bottom:1px dashed $gray-color;
	margin:0 0 25px;
	#header-left{
		float:left;
		width:200px;
		a{
			font-size:32px;
			text-decoration:none;
			font-weight:bold;
			line-height:1;
		}
	}
	#header-right{
		float:right;
		width:650px;
	}
	.nav{
		li{
			float:left;
			width: percentage(50/650);
			font-size:14px;
			margin-right:10px;
		}
		a{
			padding:7px 15px;
			display:inline-block;
			border:1px solid $gray-color;
			border-bottom:2px solid $link-color;
			text-decoration:none;
			color:$theme-color;
			background-color:$navbar-color;
			&:hover{
				color:#fff;
				background-color:lighten($navbar-color, 30%);
			}
		}
		a.active{
			color:#fff;
			background-color:lighten($navbar-color, 30%);
		}
	}
}
/*  Main Area
-------------------------------------- */
#main-wrap{

}
#main{

}
#contents{
	float:left;
	width:650px;
}
#sidebar{
	float:right;
	width:250px;
	ul{
	}
	li{
		border-bottom:2px  dashed $gray-color;
		font-size:16px;
		padding:0 0 10px;
		margin:0 0 12px;
	}
	a{
		text-decoration:none;
	}
}


/*  Footer 
-------------------------------------- */
#footer-wrap{

}
#footer{
	text-align:center;
	p{
		color:$link-color;
		padding:15px;
		font-size:12px;
	}
}

.fl{ float:left}
.fr{ float:right}
.cl{ clear:both; font-size:0; height:0; }
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
